*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.firstcontainer{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./image/header-image.png');
    background-size: cover;
    background-position: center;
    padding-left: 12vw;
    padding-top: 24px;
    /* position relative is important here */
  position: relative;

}
.image1{
    position: relative;
    height: 40px;
    width: 150px;
}
.buttonclass{
    position: absolute;
    top: 35px;
    right: 12vw;
    margin-top: -8px;
}
.english{
    width: 9vw;
    height: 32px;
    font-size: larger;
    padding-right: 10px;
 background: transparent;
 border: 1px solid white;
    color: whitesmoke;
    border-radius: 3px;
    cursor: pointer;

}
.english img{
    height: 6px;
    padding-left: 6px;
  margin-bottom: 2px;
}
.signin{
    height: 32px;
    width: 5.5vw; 
    background-color: rgb(239, 20, 20);
    color: whitesmoke;
    font-size: larger;
    border-radius: 3px;
    border: 1px solid red;
    margin-left: 25px;
}
.headercontent{
    position: absolute;
    top: 40vh;
    left: 17vw;
    color: whitesmoke;
 right: 15vw;
}
.firsth{
    font-size: 45px;
    font-weight: 750;
    max-width: 65vw;
    margin-bottom: 30px;
}
.secondh{
    
    text-align: center;
    margin-bottom: 30px;
   
}
.headercontent p{
    text-align: center;
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
}
.formclass{
    text-align: center;
}
.email{
    width: 100%;
    background: transparent;
    height: 45px;
    font-size:18px ;
    color: rgb(77, 80, 83);
    padding-left: 20px;
    max-width: 28vw;
    border-radius: 3px;
    border: 1px solid red;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.getstarted{
 
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: 500;
    height:45px ;
    width:12vw ;
    border-radius: 3px;
    border: red;
    font-size: 26px;
    cursor: pointer;

}
.getstarted:hover{
    background-color: rgb(134, 33, 33);
}
/* firstgap */
.firstgap{
    width: 100vw;
    height: 8px;
    background-color: rgb(112, 106, 106);
}
.secondcontainer{
    width: 100vw;
    height: 85vh;
    background-color: rgb(30, 28, 28);
    display: flex;
    gap: 30px;
 
  
}
.secondcontainer_heading{
    width: 53vw;
}
.secondcontainer_heading h1{
    margin-top: 30vh;
    margin-left: 12vw;
    color: whitesmoke;
    font-size: 45px;
    font-weight: 750;
}
.secondcontainer_heading h2{
    margin-left: 12vw;
    margin-top: 23px; 
    color: whitesmoke;
}
.secondcontainerimg img{
    width: 31vw;
    margin-top: 100px;
    margin-right: 50px;

}
.thirdcontainer{
    width: 100vw;
    height: 85vh;
    display: flex;
    padding-top: 12vh;
    background-color:rgb(30, 28, 28) ;
    padding-left: 15vw;
    gap: 50px;
}
.thirdcontainerimg img{
    max-width: 30vw;
}
.thirdcontainer_heading{
color: whitesmoke;
margin-right: 10vw;
margin-top: 10vh;
}
.thirdcontainer h1{
    font-size: 45px;
    font-weight: 750; 
}
.thirdcontainer h2{
    margin-top: 23px; 
}
/* faqcontainer */
.faqcontainer{
    width: 100vw;
    height: 190vh;
    background-color:rgb(30, 28, 28) ;
    padding-top: 10vh;
    
}
.faqcontainer h1{
    font-size: 45px;
    font-weight: 750;
  text-align: center;
  color: whitesmoke;
}
.accordion{
    margin-top: 60px;
    margin-left: 14vw;
   width: 70vw;
   color: whitesmoke;
   cursor: pointer;
   margin-bottom: 40px;
}
.accordion li{
    list-style-type: none;
}
.accordion label{
width:70vw;
    color: whitesmoke;
    cursor: pointer;
   
font-size: 23px;
font-weight: 600;
}
.accordion  p{
    margin-top: 65px;
    font-size: 23px;
    font-weight: 600; 
    /* this is for closing the content  */
    max-height: 0;
    overflow: hidden;
   transition: max-height 0.5s, padding 0.5s;
}
.accordion li{
    margin-bottom: 20px;
    background-color: rgb(52, 50, 50);
    padding-top: 26px;
    padding-left: 21px;
    padding-bottom: 26px;
    padding-right: 22px;
   
  
}
.accordion label::after{
    content: '+';
    font-size: 50px;
    padding-right: 10px;
margin-top: -18px;
    float: right;
}
#first{
display: none;
}
#second{
display: none;
}
#third{
 display: none;
 }
 #fourth{
display: none;
}
 #fifth{
display: none;
 }
 #sixth{
 display: none;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 40px 30px;
  
}
/* #first:checked + label +.para{
    max-height: 800px;
    padding: 30px 20px ;
} */
.smallwork{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}
.footer{
    width: 100vw;
    height: 65vh;
    background-color:rgb(30, 28, 28) ;
    padding-top: 10vh;
    padding-left: 13vw;
}
.footer h4{
    color: rgb(141, 133, 133);
    margin-bottom: 23px;
}
.alldivclass{
    display: flex;
    color:  rgb(141, 133, 133);
    justify-content: space-between;
    align-items: center;
    margin-right: 25vw;
    line-height: 50px;
    text-decoration: underline;
    margin-bottom: 23px;
}
.fourthdiv{
    margin-top: -50px;
}
.lasth{
    margin-top: 32px;
    color: rgb(141, 133, 133) ;
}
@media only screen and (max-width: 700px){
    .image1{
        width: 100px;
    }
    .english{
        width: 50px;
        padding: 5px 5px;
        font-size: 12px;
    }
    .signin{
        width: 50px;
        padding: 3px 5px;
        font-size: 12px;
    }
    .headercontent{
        margin-right: 60px;
    }
    .firsth{
        width: 350px;
        font-size: large;
        font-weight: 800;
    }
    .secondh{
        width: 250px;
        font-size: medium;  
        font-weight: 600;
     text-align: center;
    }
    .email{
        font-size: small;
        height: 30px;
        padding-left: 5px;
        
    }
    .getstarted{
        margin-top: 10px;
        height: 30px;
        font-size: 12px;
        padding: 4px 5px;
        width: 90px;
        text-align: center;
        padding-bottom: 5px;
    }
    .secondcontainer_heading h1{
        font-size: large;
    }
    .secondcontainer_heading h2{
        font-size: small;
    }
    .secondcontainerimg img{
        margin-top: 260px;
    }
    .thirdcontainer_heading h1{
        font-size: large;
    }
    .thirdcontainer_heading h2{
        font-size: small;
    }
    .thirdcontainerimg img{
        margin-top: 100px;
    }
    .faqcontainer h1{
        font-size: large;
    }
    .accordion li{
       padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 0px;
    padding-right: 7px;
    }
    .accordion label::after{
        content: '+';
        font-size: 20px;
        margin-top: 0px;
        float: right;
    }
    .accordion label {
        font-size: 14px;
    }
    .smallwork{
        font-size: small;
        margin-left: 30px;
        margin-right: 20px;
    }
    .faqcontainer{
        height: 1000px;
    }
    .footer{
        height: 73vh;
    }
    .alldivclass{
        margin-right: 5px;
    }
    .fourthdiv{
        margin-top: 0px;
    }
 
}