*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
 background-color:rgb(255, 140, 127) ;
    overflow-x: hidden;
}
.container1{
height: 90px;
width: 100%;
background-color: red;
display: flex;
justify-content: space-between;
/* display: inline-block; */
}
.container1 h1{
    color: whitesmoke;
    margin-top: 23px;
   margin-left: 15%;
}
.container1 ul {
    display: flex;
    margin-top: 30px;
    margin-right: 40px;
}
.active{
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 20px;
    cursor: pointer;
    color: whitesmoke; 
}
.active:hover{
    color: rgb(5, 42, 228);
  }
  #checkbtn{
float: right;
margin-top: -64px;
padding-right: 12px;
font-size: 30px;
color: white;
display: none;
  }
  #check{
    display: none;
  }
  @media (max-width:1005px){
    .container1 h1{
        font-size: 25px;
    }
#checkbtn{
    display: block;
}
.container1{
    width: 100%;
    /* background-color: aquamarine; */
}

.container1 ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 90px;
    margin-right: 40%;
    background-color: rgb(255, 140, 127);
   font-size: larger;
   font-weight: bold;
     /* position: fixed;  
    left: -5%; */

}


body{
    background-color:rgb(255, 140, 127) ;
}
.container1 ul li{
  padding: 30px 0px;
  text-align:center ;
}
.active{
    color: blue;
}

  }
  @media (max-width:418px){
    .container1 ul{
      
        position: relative;
        right: 5vw;
    }
  }
  @media (max-width:300px){
    .container1 ul{
      
        position: relative;
        right: 5rem;
    }
  }